*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-size: 10px;*/
}
h1{
    font-family: "Comic Sans MS";
    margin-bottom: 10px;
}
body{
    height: 100vh;
    background: #F8F0E5;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-user-select: none;
}
.wrapper{
    background: #212837;
    width: 40%;
    height: 80%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.game-details{
    background: #293447;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    color: #A9B4CA;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    border-radius: 5px;
}
.play-board{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(30,1fr)/repeat(30,1fr);

}


    .controls{
        display: none;
        justify-content: space-between;
    }
    .controls i{
        padding: 25px 0;
        color: #A9B4CA;
        width: calc(100% /4);
        background: #293447;
        cursor: pointer;
        font-size: 1.3rem;
        text-align: center;
        border-right: 1px solid #171b26;
    }

@media  only screen and(max-width: 800px) {

    .game-details{
        font-size: 1rem;
        padding: 15px 27px;
    }
    .controls{
        display: flex;
    }
    .controls i{
        padding: 15px 0;
        font-size: 1rem;
    }
}